<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!-- 用于反向生成类文件的配置，与项目启动时使用的数据库连接无关 -->
	<session-factory>
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property> 
			<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property> 
			<property name="hibernate.connection.url">jdbc:oracle:thin:@172.16.254.211:1521:orcl</property> 
			<property name="hibernate.connection.username">foton</property> <property 
			name="hibernate.connection.password">foton</property> -->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/ERP?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>
		<property name="hibernate.connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		<mapping resource="com/palmelf/hr/bean/Seat.hbm.xml" />
	</session-factory>
</hibernate-configuration>